/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';
 @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lobster&display=swap');

* { 
padding: 0px; 
margin: 0px; 
} 

/*--------------- App Home ---------------*/ 
.app-title {
    font-family: 'Lobster', cursive;
    color: rgb(94, 131, 138);
    background-color: rgb(204, 226, 212);
    text-align: center;
    margin-bottom: 0;
    padding: 1rem 0 1rem 0;
}

.typed-text {
    text-align: center !important;
    color: rgb(79, 151, 163);
    font-size: 2rem;
    font-family: 'Lobster', cursive;
}

.home-jumbo {
    margin-bottom: 0rem !important;
    text-align: center;
    padding: 1.5rem !important;
}

.home-img {
    width: 100%;
    height: 100%;
}

.navbar {
    background-color: rgb(204, 226, 212);
    color: black;
}

.navlink {
    font-size: 1rem;
    color: black;
}

/*--------------- Apartments Index ---------------*/ 
.apt-index-container {
    margin: 1rem 1rem 1rem 1rem;
}

.apt-index-title {
    font-size: 2rem;
    font-family: 'Fjalla One', sans-serif;
    color: rgb(111, 122, 121);
    padding: 3rem 0 0.5rem 0.2rem;
}

.apt-cards {
    max-width: 20rem;
}

.card-spacing {
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    display: flex;
}

/*--------------- Show Apartment ---------------*/ 
.show-title {
    font-size: 2rem;
    font-family: 'Fjalla One', sans-serif;
    color: rgb(111, 122, 121);
    padding: 3rem 0 0.5rem 0.2rem;
}

.show-info {
    padding: 0.5rem 0 1rem 0.3rem;
}

/*--------------- Add New Apartment ---------------*/ 
.form-container {
    max-width: 50%;
    padding: 0 0 5rem 1.5rem;
}

.add-title {
    font-size: 2rem;
    font-family: 'Fjalla One', sans-serif;
    color: rgb(111, 122, 121);
    padding: 3rem 0 0.5rem 0rem;
    text-align: center;
}

.new-form {
    text-align: center;
    background-color: rgb(173, 173, 173);
    border-radius: 3%;
    padding: 2rem 2rem 2rem 2rem;
    text-align: left;
}



/*--------------- Footer ---------------*/ 
.footer {
  position:fixed;
  bottom: 0;
  width: 100%;
  color: rgb(204, 226, 212);
  font-family: 'Fjalla One', sans-serif;
  background-color: rgb(94, 131, 138);
  margin: 0;
  padding: 0.5rem;
  text-align: center;
}

/*--------------- NotFound ---------------*/ 
.not-found {
    text-align: center;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
}

.error-img {
    max-width: 62%;
    border-radius: 3%;
}

.error-message {
    font-size: 3rem;
    color:rgb(111, 122, 121);
    font-family: 'Fjalla One', sans-serif;
    padding: 3rem 0 1.5rem 0;
}

 
