/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';
 @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lobster&display=swap');

* { 
padding: 0px; 
margin: 0px; 
} 

:root {
    --primary-pearl: rgb(221, 250, 255);
    --primary-blue: rgb(96, 197, 255);
    --primary-grey: rgb(111, 122, 121);
    --primary-light: rgb(201, 201, 201);
    --primary-black: rgb(48, 48, 48);
}

/*--------------- App Home ---------------*/ 
.app-title {
    font-family: 'Lobster', cursive;
    color: var(--primary-blue);
    background-color: var(--primary-pearl);
    text-align: center;
    margin-bottom: 0;
    padding: 1rem 0 1rem 0;
}

.typed-text {
    text-align: center !important;
    color: var(--primary-blue);
    font-size: 2rem;
    font-family: 'Fjalla One', sans-serif;
}

.home-jumbo {
    margin-bottom: 0rem !important;
    text-align: center;
    padding: 1.5rem !important;
    background-color: var(--primary-pearl);
}

.home-img-1 {
    width: 50%;
    height: 50%;
}

.home-img-2 {
    width: 50%;
    height: 50%;
}

.home-img-3 {
    width: 50%;
    height: 50%;
    padding-bottom: 2rem;
}

.home-img-4 {
    width: 50%;
    height: 50%;
    padding-bottom: 2rem;
}

.navbar {
    background-color: var(--primary-pearl);
    color: black;
}

.navlink {
    font-size: 1rem;
    color: black;
}

/*--------------- Apartments Index ---------------*/ 
.apt-index-container {
    margin: 1rem 1rem 1rem 1rem;
}

.apt-index-title {
    font-size: 2rem;
    font-family: 'Fjalla One', sans-serif;
    color: var(--primary-black);
    padding: 3rem 0 0.5rem 4rem;
}

.apt-cards {
    display: grid;
    max-width: 20rem;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows:min-content;
    grid-gap: 1rem;
}

.card-spacing {
    display: grid;
    padding: 0.2rem 0.2rem 5rem 4rem;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content;
    grid-gap: 1rem;
}

.cursor {
    cursor: pointer;
  }

/*--------------- Show Apartment ---------------*/ 
.show-title {
    font-size: 2rem;
    font-family: 'Fjalla One', sans-serif;
    color: var(--primary-black);
    padding: 3rem 0 0.5rem 0.2rem;
}

.show-info {
    padding: 0.5rem 0 1rem 0.3rem;
    margin-bottom: 15rem;
}

/*--------------- Add New Apartment ---------------*/ 
.form-container {
    max-width: 50%;
    padding: 0 0 5rem 1.5rem;
}

.add-title {
    font-size: 2rem;
    font-family: 'Fjalla One', sans-serif;
    color: var(--primary-black);
    padding: 3rem 0 0.5rem 0rem;
    text-align: center;
}

.new-form {
    text-align: center;
    background-color: var(--primary-light);
    border-radius: 3%;
    padding: 2rem 2rem 2rem 2rem;
    text-align: left;
}



/*--------------- Footer ---------------*/ 
.footer {
  position:fixed;
  bottom: 0;
  width: 100%;
  color: var(--primary-blue);
  font-family: 'Fjalla One', sans-serif;
  background-color: var(--primary-pearl);
  margin: 0;
  padding: 0.5rem;
  text-align: center;
}

/*--------------- NotFound ---------------*/ 
.not-found {
    text-align: center;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
}

.error-img {
    max-width: 62%;
    border-radius: 3%;
}

.error-message {
    font-size: 3rem;
    color:var(--primary-black);
    font-family: 'Fjalla One', sans-serif;
    padding: 3rem 0 1.5rem 0;
}

 
